body{
    background-color: rgb(1, 4, 5);
    color: blanchedalmond;
    font-family: "georgia";
    letter-spacing: 1px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    height: auto;
    max-width: 150px;

    border-radius: 50%;
    
}

.profile-name {
    text-align: center;

    padding: 30px;
    font-size: 35px;

}

.links {
    text-align: center;
    margin-top: 20px;
    border: 10px solid rgb(248, 242, 247);
    border-width: 2px;
    padding: 20px;

    background-color: rgb(94, 96, 102);
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    transition: color 1s;
}

a:hover {
    color: black;
    background-color: antiquewhite;
}